table
{
border-collapse:collapse;
border:1px solid black;
table-layout: fixed;
width: 100%;
}
.summary
{
border-collapse:collapse;
border:1px solid black;
table-layout: fixed;
width: 90%;
}
.trsummary{
 border:1px solid black;
}
td{
 border:1px solid black;
}

table td div {
max-height:50px;
overflow-y:auto;
overflow-x:hidden;
white-space: wrap;
text-overflow:ellipsis;
}


.title{
  background: rgba(0,0,0,1);
  color: #fff;
  height: 50px;
 border-collapse:collapse;
}
.exampleName{
background: rgba(200,200,200,1);
 height: 70px;
max-height: 70px;
}
.exampleNameGood{
background: rgba(200,255,200,1);
 height: 70px;
max-height: 70px;
}
.exampleNameBad{
background: rgba(255,200,200,1);
 height: 70px;
max-height: 70px;
}
td.col1 {width:18%;}
td.col23 {width:41%; height:50px;}

td.col4 {width:27%; height:50px;}
td.col4_best {width:27%; height:50px;background: rgba(200,255,200,1);}
td.complexity_td{
 height:18px;max-height: 18px;
width:27%;
}

.complexity_div{
 height:24px;
}
